@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
@import url('https://fonts.cdnfonts.com/css/abril-fatface');

article {
    font-family: 'Gill Sans', sans-serif;
    max-inline-size: 400px;
    background: #fff;
    margin-block: 3rem;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    border: 1px solid #DADCEB;
}

.review-container{
    display: flex;
    gap: .2rem;
    padding: 1rem 0 .5rem 0;
}

.fa{
    color: orange;
}
.picture {
    display: grid;

    >* {
        grid-area: 1 / 1;
    }

    .back {
        place-self: start;
        margin: 1rem;
        z-index: 1;
        color: #979aa4;
        background-color: #fff;
        border-radius: 100px;
        box-shadow:
        0 2px 5px 1px rgba(0, 0, 0, 0.448),
        0 10px 0px 0px rgba(0, 0, 0, 0.04);
        border-radius: 1rem;
    }

    .image-count {
        padding: .5rem 1rem;
        border-radius: 2rem;
        letter-spacing: 2px;
        line-height: 1;
        place-self: end start;
        background: #515459;
        color: #fff;
        margin: 1rem;
    }

    img {
        border: 1px solid #DADCEB;
        border-radius: .5rem .5rem 0 0;
    }
}

.card-content {
    display: grid;
    gap: 1rem;
    padding: 0 2rem 1rem;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #05091f;
}

.location {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #64686f;
    font-size: .95em;
}

.description p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    text-align: balance;
    color: #73777d;
    line-height: 1.5;
}

.amenities-details {
    display: flex;
    gap: 1rem;
    border-top: .5px solid #ced1dc ;
    border-bottom: .5px solid #ced1dc ;
    padding: 10px 0 10px 0;

    li {
        flex: 1;
        display: grid;
        gap: .25rem;
        place-items: center;
        padding: .25rem;
        background: #f0f2ff00;
        color: #71747b;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .7rem;
        
    }
}


footer {
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px -1px #0002;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    button {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: .75rem 1rem;
        border: none;
        line-height: 1;
        border-radius: 8px;
        font-weight: 500;
        font-size: 1rem;
        background: #3C55CC;
        color:  #F0F2FF;
    }

    .price {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;

        span {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #908F9F;
            font-size: 0.75em;
            font-weight: 400;
        }
    }

}











@layer reset {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
        display: grid;
        place-content: center;
        background: #F5F6FA;
    }

    img,
    svg {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* 1 */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
}