---
const { cardContent } = Astro.props;
---

<ul class="scrollable-list">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;           
    gap: 1rem;              
    padding: 1rem;
    list-style: none;
    padding-inline:
    max(1rem, 50% - 1200px / 2);
    max-width: 100%;        
    overflow-x: auto;       
  }

  li {
    background-color: rgb(234, 234, 234);
    padding: 1rem;
    border-radius: 1rem;
    flex: 0 0 auto;          
    width: 20rem;            
  }
</style>
